/*This is style.css*/


/********************
 * General Styles
 * *****************/

.custom-logo{
    width:150px;
    height: auto;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
}

#wrapper{
    max-width:1200px;
    margin:auto;
}

/********************
 * Home page styles
 * *****************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{
    margin:0;
    padding:0;
    font-family: "seravek", "helvetica", "arial", sans-serif;
}

.home-separated{
    border-bottom: 1px solid #efefef;
}

.home-padded{
    padding: 20px 0;
}

#home-leadbox{
    position:relative;       
}

.lmh-home-root-menu-container{
    width: 500px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin: 0 -250px;
}

.lmh-home-root-menu-container ul {
    
}

.lmh-home-root-menu-container li.menu-item{
    display:inline-block;
    width: 164px;
    padding: 5px 0;
    text-align:center;
}


.lmh-home-root-menu-container li.menu-item > a{
    color: black;
    cursor: pointer;
}

.lmh-home-root-menu-container li.menu-item > a:hover{
    text-decoration: underline;
}

.lmh-home-page-section-content p{
    margin: 20px auto;
}

.lmh-home-sidebar{
    width:100%;
    max-width:800px;
    margin: auto;
    text-align:center;
}

.lmh-home-sidebar-cell > ul{
    list-style-type:none;
}


/********************
 * Navigation
 * *****************/

nav.nav{
    margin-top:10px;
}

.custom-logo-link{
    display:block;
}

.navbar .container{
    padding: 10px 0;
}

.lmhcustom-nav-toggle{
    margin: 5px;   
}

.site-name{
    border-bottom: 5px solid black;
    padding-bottom: 5px;
}

.lmhcustom-root-menu-container ul{
    list-style-type: none;
    margin: 0;
    padding: 0px 10px 10px 10px;
}

.lmhcustom-root-menu-container ul li.menu-item{
    display:inline-block;
    width: 32%;
    text-align:center;
    padding:0px 10px 10px 10px;
}

.lmhcustom-root-menu-container > ul > li > a{
    color: black;
}

.lmhcustom-root-menu-container > ul > li > a:hover{
    text-decoration:underline;
}

/*********************
 * GENERAL STYLES
 * ******************/

.slightly-padded{
    padding:5px;
}

p{
    margin: 10px 0 5px;
}

h1,h2,h3,h4,h5,h6{
    margin: 10px 0 5px;
}

.no-margin{
    margin:0;
}

.copyright-text{
    color: #dedede;
    font-size: 12px;
}

/*********************
 * SINGLE POST STYLES
 * ******************/

.single-body h1.entry-title{
    margin-left:10px;
}

.single-meta{
    color: #9f9f9f;
    font-style: italic;
    margin: 0 0 10px 20px;
}

.single-body .single-featured-image{
    width: 95%;
    margin: auto; 
}

.single-body .single-featured-image img{
    width:100%;   
}

.single-body .single-featured-image figcaption{
    background: #dfdfdf;
    font-style: italic;
    padding: 5px 10px;
}

.single-body .single-content {
    overflow:hidden;
}

.site-sidebar-section{
    margin: 20px 0 15px;
}

.site-sidebar-section > ul{
    margin-left:20px;
}

.single-content{
    padding: 0 10px;
}

.single-content blockquote{
    padding-left: 30px;
    clear: left;
}

.single-content ol, .single-content ul{
    padding-left:30px;
}

.single-content img{
    margin: 20px 0;
}

.single-content img.aligncenter{
    max-width:700px;
    width:95%;
    margin: 20px auto;
    display:block;
    
}



/*********************
 * MEDIA QUERIES
 * ******************/

/* xs screens only */
@media (max-width:767px){
    .single-content img{
        width:100%;
        height: auto !important;
    }
}

/* sm screens and larger */
@media (min-width: 768px){

    .single-content img.alignleft{
        float:left;
        margin: 0 20px 15px 0;
    }

    .single-content img.alignright{
        float:right;
        margin:0 0 20px 20px;
    }

    .lmhcustom-nav-toggle{
        display:none;   
    }
    .lmhcustom-root-menu-container{
        display: block;
    }


}

/* md screens and larger */
@media (min-width: 992px){}

/* lg screens and larger */
@media (min-width: 1200px){
}
