/*This is style.css*/


/********************
 * General Styles
 * *****************/

.custom-logo{
    width:150px;
    height: auto;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
}

#wrapper{
    max-width:1200px;
    margin:auto;
}

/********************
 * Home page styles
 * *****************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{
  margin:0;
  padding:0;
  font-family: "seravek", "helvetica", "arial", sans-serif;
}

.home-separated{
    border-bottom: 1px solid #efefef;
}

.home-padded{
    padding: 20px 0;
}

#home-leadbox{
    position:relative;       
}

.lmh-home-root-menu-container{
    width: 500px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin: 0 -250px;
}

.lmh-home-root-menu-container ul {
    
}

.lmh-home-root-menu-container li.menu-item{
    display:inline-block;
    width: 164px;
    padding: 5px 0;
    text-align:center;
}


.lmh-home-root-menu-container li.menu-item > a{
    color: black;
    cursor: pointer;
}

.lmh-home-root-menu-container li.menu-item > a:hover{
    text-decoration: underline;
}

.lmh-home-page-section-content p{
    margin: 20px auto;
}

.lmh-home-sidebar{
    width:100%;
    max-width:800px;
    margin: auto;
    text-align:center;
}

.lmh-home-sidebar-cell > ul{
    list-style-type:none;
}


/********************
 * Navigation
 * *****************/

nav.nav{
    margin-top:10px;
}

.custom-logo-link{
    display:block;
}

.navbar .container{
    padding: 10px 0;
}

.lmhcustom-nav-toggle{
    margin: 5px;   
}

.site-name{
    border-bottom: 5px solid black;
    padding-bottom: 5px;
}

.lmhcustom-root-menu-container ul{
    list-style-type: none;
    margin: 0;
    padding: 0px 10px 10px 10px;
}

.lmhcustom-root-menu-container ul li.menu-item{
    display:inline-block;
    width: 32%;
    text-align:center;
    padding:0px 10px 10px 10px;
}

.lmhcustom-root-menu-container > ul > li > a{
    color: black;
}

.lmhcustom-root-menu-container > ul > li > a:hover{
    text-decoration:underline;
}

/*********************
 * GENERAL STYLES
 * ******************/

.slightly-padded{
    padding:5px;
}

p{
    margin: 10px 0 5px;
}

h1,h2,h3,h4,h5,h6{
    margin: 10px 0 5px;
}

.no-margin{
    margin:0;
}

.copyright-text{
    color: #dedede;
    font-size: 12px;
}

/*********************
 * MEDIA QUERIES
 * ******************/

/* sm screens and larger */
@media (min-width: 768px){

    .lmhcustom-nav-toggle{
        display:none;   
    }
    .lmhcustom-root-menu-container{
        display: block;
    }


}

/* md screens and larger */
@media (min-width: 992px){}

/* lg screens and larger */
@media (min-width: 1200px){
}


/*
#wrapper { display: block; border: 1px #a2a2a2 solid; width:90%; margin:0px auto; }
#header { border: 2px #a2a2a2 solid; }
#content { width: 75%; border: 2px #a2a2a2 solid; float: left; }
#sidebar { width: 23%; border: 2px #a2a2a2 solid; float: right; }
#delimiter { clear: both; }
#footer { border: 2px #a2a2a2 solid; }
.title { font-size: 11pt; font-family: verdana; font-weight: bold; }
*/
